{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}        

<div id="content">
    {% block content_title %}
    <h2>All articles</h2>
    {% endblock %}

    <ul id="post-list">
        {% for article in posts %}        
            {% if not article|in_category("theology") %}
            <li>
                <a href="/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title}}">{{ article.title }}</a>
                <abbr class="published">{{ article.date }}</abbr>
            </li>
            {% endif %}
        {% endfor %}
    </ul>

<h2>About</h2>

<p>Hi there! My name is Honza.  I'm a web developer based in Halifax,
Canada.  I spend most of my time writing <a class="reference external" href="http://www.djangoproject.com/">Django</a> apps
and building complex Javascript applications for the browser and for node.js.  I love all things
open source.  You can also find me on <a class="reference external" href="http://twitter.com/_honza">Twitter</a> and <a class="reference external" href="http://github.com/honza">Github</a>.</p>

<p>I'm married and have a toddler son.</p>

<h2>Projects</h2>
<p>You can find my projects <a href="/projects.html">here</a>.</p>

<h2>Resume</h2>
<p>You can find my resume <a href="/resume.html">here</a>.</p>

<h2>Elsewhere</h2>
<ul>
    <li><a href="https://github.com/honza">Github</a></li>
    <li><a href="http://twitter.com/_honza">Twitter</a></li>
    <li><a href="/gpg_pubkey.txt">Public GPG key</a></li>
</ul>

<h2>Categories</h2>

<p>
    {% for k in categories.keys() %}
        <a href="/category/{{ k|lower }}/">{{ k }}</a>{% if not loop.last %},{% endif %}
    {% endfor %}
</p>

</div><!-- /#content -->

{% endblock content %}
