{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div id="content">
    {% block content_title %}
    <h2>All articles</h2>
    {% endblock %}

    <div>
      {% for year in years|sort|reverse %}
      <h3>{{ year }}</h3>

      <ul class="post-list">

      {% for post in posts %}
        {% if post.year|int == year|int %}
            {% if not post|in_category("theology") %}

            <li>
                <a href="/{{ post.url }}" rel="bookmark" title="Permalink to {{ post.title}}">{{ post.title }}</a>
                <abbr class="published">{{ post.date }}</abbr>
            </li>


          {% endif %}
        {% endif %}
      {% endfor %}

      </ul>

      {% endfor %}
    </div>

<h2>About</h2>

<p>

Hi there! My name is Honza.  I'm a web developer based in Halifax, Canada.
I love all things open source.  You can also find me on <a class="reference
    external" href="http://twitter.com/_honza">Twitter</a> and <a
class="reference external" href="http://github.com/honza">Github</a>.

</p>

<p>
  I'm a Senior Software Engineer at <a href="https://www.redhat.com/">Red Hat</a>.
</p>

<h2>Projects</h2>
<p>You can find my projects <a href="/projects.html">here</a>.</p>

<h2>Resume</h2>
<p>You can find my resume <a href="/resume.html">here</a>.</p>

<h2>Elsewhere</h2>
<ul>
    <li><a href="mailto:me@honza.ca">me@honza.ca</a></li>
    <li><a href="https://github.com/honza">Github</a></li>
    <li><a href="https://twitter.com/_honza">Twitter</a></li>
    <li><a href="https://keybase.io/honza">GPG key (keybase)</a></li>
</ul>

</div><!-- /#content -->

{% endblock content %}
