body {
    font-family: 'Georgia';
}

.document {
    width: 470px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Helvetica Neue';
}

p {
    font-size: 18px;
    line-height: 140%;
}
